@use 'sass:math';
@import './breakpoints';
/*
screen types: 
    mobile,
    desktop,
*/
@mixin media($_screen) {
  @if $_screen == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $_screen == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

@mixin font($_fsz, $_lnh) {
  font-size: #{$_fsz}px;

  $result: math.div($_lnh, $_fsz);

  line-height: math.div(math.round($result * 100), 100);
}
