$_main_transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$_white_font_color: #ffffff;
$_black_font_color: #000000;
$_main_bg_color: #bfd800;
$_accent_color: #e14e88;

$_main_font_family: Gluten, sans-serif;
$_secondary_font_family: Helvetica, sans-serif;

$_main_font_size: 13px;
$_main_font_weight: 400;
