$_background: #141D38;
$_accent:rgba(227, 97, 4, 0.87);
$_white: #EBEBF5;
$_blue_hover: #375AF5;
$_blue_clicked: #0228D1;
$_white_2:#D5D5E3;
$_arrow_white:#BEC1CC;
$_dark:#1E1D27;
$_footer:rgba(99, 108, 135, 0.58);
$_transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
