.how-to-play-container {
  width: 90%;
  max-width: 400px;
  text-align: center;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.step {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  position: relative;
}

.step p {
  margin: 0;
  flex: 1;
}

.number {
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
