<section class="section section-about" id="about">
  <div class="container container-about">
    <div class="about-wrapper">
      <h2 class="about-title">About the Game</h2>
      <p class="about-text">
        Kitchen Master: Cooking Mania is a fast-paced and engaging
        time-management game where players take on the role of a chef. Prepare
        delicious meals, serve hungry customers, and upgrade your kitchen to
        take your cooking skills to the next level. From bustling food trucks to
        elegant restaurants, master various cuisines and build your culinary
        empire.
      </p>
    </div>
    <picture>
      <source
        srcset="
          /img/about-the-game/about-the-game-desk.jpg    1x,
          /img/about-the-game/about-the-game-desk@2x.jpg 2x
        "
        media="(min-width: 1200px)"
        width="420"
        height="320"
      />
      <source
        srcset="
          /img/about-the-game/about-the-game-mob.jpg    1x,
          /img/about-the-game/about-the-game-mob@2x.jpg 2x
        "
        media="(min-width: 320px)"
        width="288"
        height="324"
      />
      <img
        class="about-the-game-img"
        src="/img/about-the-game/about-the-game-mob.jpg"
        alt="about-the-game"
        loading="lazy"
      />
    </picture>
  </div>
</section>
