<section class="about" id="about">
  <div class="about-container">
    <ul class="about-list">
      <li class="about-list-item">
        <p class="about-text">
          Enter the vibrant world of Bubble Bird Rescue 2 - Shoot!, where your
          mission is to save adorable birds trapped in colorful bubbles. In this
          engaging bubble shooter game, you’ll navigate through various levels,
          aiming and shooting bubbles to match three or more of the same color,
          freeing the birds and clearing the board. Each level offers unique
          challenges, from rescuing a certain number of birds to achieving high
          scores, all while encountering new obstacles and power-ups.
        </p>
        <div class="about-screen-first"></div>
      </li>
      <li class="about-list-item item-reverse">
        <p class="about-text">
          As you advance, you’ll unlock special boosters and discover exciting
          bubble combinations that can help you tackle even the most difficult
          levels. With hundreds of levels to explore, daily rewards to collect,
          and special events to participate in, Bubble Bird Rescue 2 - Shoot!
          provides endless fun for players of all ages. Whether you're a fan of
          puzzle games or just looking for a delightful way to pass the time,
          this game is sure to captivate you from the first shot. Start your
          bubble-popping adventure today and see how many birds you can rescue!
        </p>
        <div class="about-screen-second"></div>
      </li>
    </ul>
  </div>
</section>
