<section id="benefits-section" class="benefits">
    <div class="benefits-background">
        <div class="container">
            <div class="benefits-container">
                <h2 class="benefits-title">Benefits</h2>
                <ul class="benefits-list">
                    <li class="benefit">
                        <img src="./img/benefits/star-img.png" alt="star icon" class="benefit-icon">
                        <p class="benefit-text">4,8</p>
                    </li>
                    <li class="benefit">
                        <img src="./img/benefits/download-img.png" alt="download icon" class="benefit-icon">
                        <p class="benefit-text">50K +</p>
                    </li>
                    <li class="benefit">
                        <img src="./img/benefits/community-img.png" alt="community icon" class="benefit-icon">
                        <p class="benefit-text">1K +</p>
                    </li>
                    <li class="benefit">
                        <img src="./img/benefits/online-img.png" alt="wifi icon" class="benefit-icon">
                        <p class="benefit-text">Online</p>
                    </li>
                    <li class="benefit">
                        <img src="./img/benefits/offline-img.png" alt="offline icon" class="benefit-icon">
                        <p class="benefit-text">Offline</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>