<section class="benefits" id="benefits">
  <div class="benefits-container">
    <ul class="benefits-list">
      <li class="benefits-list-item">
        <svg class="benefits-icon" width="40" height="40">
          <use href="../img/sprite.svg#Play Market logo.png"></use>
        </svg>
        <div class="benefits-line"></div>
        <p>4.8</p>
      </li>
      <li class="benefits-list-item">
        <svg class="benefits-icon" width="40" height="40">
          <use href="../img/sprite.svg#Download icon"></use>
        </svg>
        <div class="benefits-line"></div>
        <p>50 000+</p>
      </li>
      <li class="benefits-list-item">
        <svg class="benefits-icon" width="60" height="40">
          <use href="../img/sprite.svg#Game Logo.png"></use>
        </svg>
        <div class="benefits-line"></div>
        <p>1 000 +</p>
      </li>
      <li class="benefits-list-item">
        <svg class="benefits-icon" width="60" height="40">
          <use href="../img/sprite.svg#Vector (2)"></use>
        </svg>
        <div class="benefits-line"></div>
        <p>Online/Offline</p>
      </li>
    </ul>
  </div>
</section>
