<section id="benefits" class="section benefits">
  <div class="container">
    <h2 class="title">Benefits</h2>

    <ul class="benefit-list">
      <li class="benefit-item">
        <img
          src="./img/benefits/star.webp"
          alt="raiting"
          width="80"
          height="80"
        />
        <p>4.8</p>
      </li>
      <li class="benefit-item">
        <img
          src="./img/benefits/folder.webp"
          alt="folder"
          width="80"
          height="80"
        />
        <p>50 000+</p>
      </li>
      <li class="benefit-item">
        <img
          src="./img/benefits/control.webp"
          alt="remote control"
          width="80"
          height="80"
        />
        <p>1000+</p>
      </li>
      <li class="benefit-item">
        <img
          src="./img/benefits/net.webp"
          alt="online or offline"
          width="80"
          height="80"
        />
        <p>Online/Offline </p>
      </li>
    </ul>
  </div>
</section>
