<section class="buggle">
 <div class="container">
  <div class="buggle-container-relative">
   <picture class="buggle_title-img">
    <source srcset="../img/buggle/main_1x.png 1x, ../img/buggle/main_2x.png 2x">
    <img src="../img/buggle/main_1x.png" alt="img_main">
   </picture>
  </div>
  <h2 class="buggle-title">Color Bubble Shooter</h2>
  <a class="buggle-link" href="#" aria-label="buggle-link">
   <svg class="buggle-google-pay" width="36" height="34" aria-label="icon-logos_google-play-icon">
    <use href="../img/buggle/sprite.svg#icon-logos_google-play-icon"></use>
   </svg>
   Download <br> Google Play</a>
  <picture>
   <source srcset="../img/buggle/ball_white_1x.png 1x, ../img/buggle/ball_white_2x.png 2x">
   <img src="../img/buggle/ball_white_1x.png" alt="ball_white">
  </picture>
  <picture>
   <source srcset="../img/buggle/ball_green_1x.png 1x, ../img/buggle/ball_green_2x.png 2x">
   <img src="../img/buggle/ball_ball_green_1x_1x.png" alt="ball_green">
  </picture>
 </div>



</section>