<section class="conditions">
  <div class="container">
    <h2>Terms and conditions</h2>

    <h3>Introduction</h3>
    <b
      >PLEASE READ THE FOLLOWING TERMS OF USE CAREFULLY. BY REGISTERING FOR,
      ACCESSING, BROWSING, DOWNLOADING, OR USING THE SERVICE, YOU ACKNOWLEDGE
      THAT YOU HAVE READ AND UNDERSTOOD, AND AGREE TO BE BOUND BY, THE FOLLOWING
      TERMS AND CONDITIONS, INCLUDING ANY ADDITIONAL GUIDELINES AND FUTURE
      MODIFICATIONS (COLLECTIVELY, THE 'TERMS OF USE' OR 'TERMS'). IF AT ANY
      TIME YOU DO NOT AGREE TO THESE TERMS, PLEASE IMMEDIATELY TERMINATE YOUR
      USE OF THE SERVICE.</b
    >
    <p>
      Welcome to the Olympusmatch3.com. Website and Service. These Terms of Use
      for the Service is a legal contract between you, an individual user or a
      single entity, and Olympusmatch3.com regarding your use of the Service. We
      may periodically make changes to these Terms of Use. It is your
      responsibility to review the most recent version of these Terms of Use
      frequently and remain informed of any changes to it. You agree that your
      continued use of the Service after such changes have been published to the
      Service shall constitute your acceptance of such revised Terms of Use. Win
      Olympusmatch3.com is a free online gaming platform where the gamer can
      play and win without any risks. It is a simple portal to access social
      games for free and play with your friends. Remember that winning at these
      games does not mean you will have any future winnings. It is crucial that
      you remember this since your luck will differ depending on many factors.
      Have fun and Play as much as you like. You are responsible for
      safeguarding the password that you use to access the Service and for any
      activities or actions under your password, whether your password is with
      our Service or a third-party service.
    </p>

    <h3>License to use the service</h3>
    <p>
      Subject to these Terms of Use, we grant to you a limited, Personal,
      non-exclusive, non-transferable license to use the Service for your
      personal use. Your right to use the Service is limited by the terms set
      forth in these Terms of Use. Except for this license granted to you, we
      retain all rights, title, and interest in and to the Service, including
      all related intellectual property rights. The Service is protected by
      applicable intellectual property laws, including United States copyright
      law and international treaties.
    </p>

    <h3>Termination of the Service</h3>
    <p>
      Termination by Olympusmatch3.com. We reserve the right, in our sole
      discretion, to restrict, suspend, or terminate your access to the Service
      at any time, for any or no reason, with or without prior notice, and
      without liability. Termination by user. You may terminate the use of the
      Service at anytime. If Olympusmatch3.com stops providing the Service to
      you because you repeatedly or egregiously breach these Terms of Use,
      Olympusmatch3.com may take measures to prevent the further use of the
      website.
    </p>

    <h3>Description of service</h3>
    <p>
      Olympusmatch3.com is a free online platform where players can play all
      games for free and without any risk of loosing. No player or user can lose
      while playing on this website. Any winnings on this site will not reflect
      the real result you might get while playing on other websites. All games
      on this site were being done for entertainment purposes only and this will
      not change. Don’t take seriously all the prizes and wins at the platform.
      This website provides only fun for gaming funs.
    </p>

    <h3>Access to the Service</h3>
    <p>
      We do not provide you with the equipment to access the Service. You are
      responsible for all fees charged by third parties to access the Service
      (e.g., charges by internet service providers). We reserve the right to
      modify or discontinue, temporarily or permanently, all or a part of the
      Service without notice. We will not be liable to you or to any third party
      for any modification, suspension, or discontinuance of the Service. We
      reserve the right, at any time, to change or impose fees for access to and
      use of the Service. In order to use the Service, you must be the age of
      majority in your jurisdiction and fully able and competent to enter into
      the terms, conditions, obligations, affirmations, representations and
      warranties set forth in these Terms and to abide by and comply with these
      Terms.
      <b
        >BY DOWNLOADING, INSTALLING OR OTHERWISE USING THE SERVICE, YOU
        REPRESENT THAT YOU MEET THE ELIGIBILITY REQUIREMENTS IN THIS SECTION. IN
        ANY CASE, YOU AFFIRM THAT YOU ARE OVER THE AGE OF 18, AS THE SERVICE IS
        NOT INTENDED FOR THOSE UNDER 18.</b
      >
      From time to time, we may apply upgrades, patches, bug fixes or other
      Maintenance to the Service. Some features or all features of the Service
      may not be available during Maintenance.
    </p>

    <h3>Updates to these Terms of Use</h3>
    <p>
      We may occasionally update the Service and these Terms of Use. When we do,
      we will revise the 'last updated' date on these Terms of Use. You should
      check the Service and these Terms of Use frequently to see recent changes.
      Your continued use of the Service after such changes will be subject to
      the then-current terms of use. This version of these Terms of Use shall
      supersede all earlier versions.
    </p>
  </div>
</section>
