<section id="disclaimer-section" class="disclaimer">
    <div class="disclaimer-background">
        <div class="container">
            <div class="disclaimer-container">
                <h2 class="disclaimer-title">Disclaimer:</h2>
                <p class="disclaimer-text">PROGAMEVAULT.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING
                    PLAYING
                    THIS GAME CANNOT BE
                    CONSIDERED THE SAME AS WINNING IN REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18
                    YEARS OF
                    AGE. ENJOY PLAYING THIS GAME.</p>
            </div>
        </div>
    </div>

</section>