<section class="section section-download-game" id="download">
  <div class="container container-download-game">
    <picture>
      <source
        srcset="
          /img/download-game/download-game-desk.jpg    1x,
          /img/download-game/download-game-desk@2x.jpg 2x
        "
        media="(min-width: 1200px)"
        width="420"
        height="380"
      />
      <source
        srcset="
          /img/download-game/download-game-mob.jpg    1x,
          /img/download-game/download-game-mob@2x.jpg 2x
        "
        media="(min-width: 320px)"
        width="288"
        height="256"
      />
      <img
        class="download-img"
        src="/img/download-game/download-game-mob.jpg"
        alt="download-game"
        loading="lazy"
      />
    </picture>
    <div class="download-wrap">
      <p class="download-text">
        Step into the culinary world of
        <span class="text-bold">Kitchen Master: Cooking Mania!</span> Serve up
        tasty dishes, manage your time, and grow your culinary empire. Download
        now and start your journey to becoming a legendary chef!
      </p>
      <a href="">
        <img
          class="download-google"
          src="/img/google.png"
          srcset="/img/google.png 1x, /img/google@2x.png 2x"
          alt="google-play"
          width="130"
          height="40"
        />
      </a>
    </div>
  </div>
</section>
