<section id="faq" class="faq">
  <div class="container accord">
    <h2 class="title">FAQ</h2>

    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-header">
          <span>How do I start playing?</span>
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M6 9L12 15L18 9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="accordion-content">
          <p>Simply download the game and tap on 'Play' to begin.</p>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-header">
          <span>Are there any in-game purchases?</span>
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M6 9L12 15L18 9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="accordion-content">
          <p>Yes, there are optional purchases for special power-ups.</p>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-header">
          <span>Can I play without an internet connection?</span>
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M6 9L12 15L18 9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="accordion-content">
          <p>Yes, you can play offline without any issues.</p>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-header">
          <span>How do I get past challenging levels?</span>
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M6 9L12 15L18 9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="accordion-content">
          <p>Try using power-ups and thinking ahead for better combos.</p>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-header">
          <span>Is there a way to compete with friends?</span>
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M6 9L12 15L18 9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="accordion-content">
          <p>Yes, you can connect to social media to see friends' scores.</p>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-header">
          <span>What are the rewards for playing?</span>
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M6 9L12 15L18 9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="accordion-content">
          <p>Earn gems, power-ups, and other special items as you progress.</p>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-header">
          <span>Is the game suitable for children?</span>
          <div class="circle">
            <svg
              class="accordion-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M6 9L12 15L18 9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="accordion-content">
          <p>Absolutely, it's designed to be family-friendly.</p>
        </div>
      </div>
    </div>

    <img
      src="./img/faq/yellow.png"
      alt="yellow diamond"
      width="110"
      height="100"
      class="yellow"
    />
    <img
      src="./img/faq/green.png"
      alt="green diamond"
      width="71"
      height="71"
      class="green"
    />
    <img
      src="./img/faq/gold.png"
      alt="gold diamond"
      width="80"
      height="70"
      class="gold"
    />
    <img
      src="./img/faq/blue.png"
      alt="blue diamond"
      width="80"
      height="84"
      class="blue"
    />
  </div>
</section>
