<section class="faq">
  <div class="faq-container">
    <h2>Any questions?</h2>
    <div class="faq-item">
      <button class="faq-question">
        Can I play offline? <span class="plus">+</span>
      </button>
      <div class="faq-answer">
        <p>
          Yes, Bubble Bird Rescue 2 – Shoot! can be played without an internet
          connection.
        </p>
      </div>
    </div>
    <div class="faq-item">
      <button class="faq-question">
        What are the daily rewards? <span class="plus">+</span>
      </button>
      <div class="faq-answer">
        <p>Daily rewards are given for logging in every day.</p>
      </div>
    </div>
    <!-- Add more FAQ items here -->
  </div>
</section>

<script src="scripts-questions.js"></script>

<div class="container">
  <div class="disclaimer">
    <p class="text">
      topgameflare.com IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING
      PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL LIFE
      GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY
      PLAYING THIS GAME.
    </p>
  </div>
</div>
