<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./scss/footer.scss" />
  </head>
  <body>
    <div class="footer">
      <div class="container-footer">
        <div class="logo-container">
          <img src="/img/footerImg/burunduk.png" alt="logo-" class="burunduk" />
          <h3 class="footer-title">Forest Rescue: Match 3 Puzzle</h3>
        </div>
        <div class="links-container">
          <a href="../privacy-policy.html" class="link">Privacy Policy</a>
          <a href="../termsOfService.html" class="link">Terms of Service</a>
        </div>
      </div>

      <h2 class="footer-rights">
        All rights reserved joyfulbesthub.com | 2024
      </h2>
    </div>
  </body>
</html>
