<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <div class="footer-link-container">
        <svg class="footer-link-icon">
          <use href="./img/sprite.svg#icon-Lock-icon"></use>
        </svg>
        <a href="./page-2.html" class="footer-link">Privacy policy</a>
      </div>

      <div class="footer-link-container">
        <svg class="footer-link-icon">
          <use href="./img/sprite.svg#icon-Pencil-icon"></use>
        </svg>
        <a href="./page-3.html" class="footer-link">Terms and conditions</a>
      </div>
    </div>
    <p class="footer-text">All rights reserved topgameflare.com | 2024</p>
  </div>
</footer>
