<section class="footer-section">
    <div class="footer-container">
        <div class="container">
            <div class="footer-main">
                <div class="policy-terms-wrap">
                    <p><a href="./privacy-page.html">Privacy policy</a></p>
                    <p><a href="./terms-page.html">Terms and conditions</a></p>
                </div>
                <p>
                    All rights reserved
                    <a href="http://progamevault.com" target="_blank">progamevault.com</a> |
                    2024
                </p>
            </div>
        </div>
    </div>
</section>