<footer class="footer">
  <div class="container">
    <div class="footer_first">
      <a class="footer_logo_link" href="index.html">
        <picture>
          <source
            srcset="./img/logo500xp.webp 1x, ./img/logo500xp_2x.webp 2x"
            type="image/webp"
          />
          <img
            src="./images/logo500xp.jpg"
            alt="logo"
            class="footer_logo_image"
            width="98"
            height="98"
          />
        </picture>
      </a>
      <nav class="footer_nav">
        <a href="../page_privacy_policy.html" class="footer_link"
          >Privacy Policy</a
        >

        <a href="../page_terms_conditions.html" class="footer_link"
          >Terms and Conditions</a
        >

        <a href="../page_cookies_policy.html" class="footer_link"
          >Cookies Policy</a
        >
      </nav>
    </div>

    <p class="footer_second">All rights reserved powerflashhero.com</p>
  </div>
</footer>
