<section id="gallery" class="section gallery">
  <div class="container">
    <h2 class="title">Gallery</h2>
  </div>
  <div class="gallery_slider">
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide slider_gallery">
          <img
            class="gallery_img"
            src="./img/gallery/gallary-5.webp"
            alt="Image 5"
            width="350"
            height="622"
          />
        </li>
        <li class="swiper-slide slider_gallery">
          <img
            class="gallery_img"
            src="./img/gallery/gallary-5.webp"
            width="350"
            height="622"
            alt="Image 5"
          />
        </li>
        <li class="swiper-slide slider_gallery">
          <img
            class="gallery_img"
            src="./img/gallery/gallary-5.webp"
            alt="Image 5"
            width="350"
            height="622"
          />
        </li>
        <li class="swiper-slide slider_gallery">
          <img
            class="gallery_img"
            src="./img/gallery/gallary-5.webp"
            width="350"
            height="622"
            alt="Image 5"
          />
        </li>
        <li class="swiper-slide slider_gallery">
          <img
            class="gallery_img"
            src="./img/gallery/gallary-5.webp"
            width="350"
            height="622"
            alt="Image 5"
          />
        </li>
        <li class="swiper-slide slider_gallery">
          <img
            class="gallery_img"
            src="./img/gallery/gallary-5.webp"
            width="350"
            height="622"
            alt="Image 5"
          />
        </li>
        <li class="swiper-slide slider_gallery">
          <img
            class="gallery_img"
            src="./img/gallery/gallary-5.webp"
            width="350"
            height="622"
            alt="Image 5"
          />
        </li>
        <li class="swiper-slide slider_gallery">
          <img
            class="gallery_img"
            src="./img/gallery/gallary-5.webp"
            width="350"
            height="622"
            alt="Image 5"
          />
        </li>
        <li class="swiper-slide slider_gallery">
          <img
            class="gallery_img"
            src="./img/gallery/gallary-5.webp"
            width="350"
            height="622"
            alt="Image 5"
          />
        </li>
        <li class="swiper-slide slider_gallery">
          <img
            class="gallery_img"
            src="./img/gallery/gallary-5.webp"
            width="350"
            height="622"
            alt="Image 5"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
