<section class="gallery-section" id="gallery-section">
  <div class="gallery-background">
    <div class="gallery-container">
      <div class="container">
        <h2 class="gallery-section-header">Gallery</h2>
        <div class="slider">
          <div class="slider-line">
            <img class="slider-img" src="./img/gallery/game-img1-desk.png" alt="game image 1" />
            <img class="slider-img" src="./img/gallery/game-img2.png" alt="game
        image 2" />
            <img class="slider-img" src="./img/gallery/game-img3.png" alt="game image 3" />
          </div>
          <div class="button-block">
            <button class="slider-btn btn-prev" type="button">
              <img src="./img/gallery/arrow-left-btn.png" alt="previous image" width="18" height="22" />
            </button>
            <button class="slider-btn btn-next" type="button">
              <img src="./img/gallery/arrow-right-btn.png" alt="next image" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>