<section class="gallery" id="gallery">
  <div class="gallery-container">
    <h2 class="gallery-header">Gallery</h2>
    <div class="gallery-blur"></div>
    <p class="gallery-text">
      Immerse yourself in the colorful and captivating world of Bubble Bird
      Rescue 2 - Shoot!, where every shot brings you closer to saving the birds
      and mastering the game. Start your rescue mission today!
    </p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          src="./img/gallery/gallery-first.jpg"
          alt="first image"
          class="gallery-picture"
        />
      </li>
      <li class="gallery-item">
        <img
          src="./img/gallery/gallery-second.jpg"
          alt="second image"
          class="gallery-picture"
        />
      </li>
      <li class="gallery-item">
        <img
          src="./img/gallery/gallery-third.jpg"
          alt="third image"
          class="gallery-picture"
        />
      </li>
      <li class="gallery-item">
        <img
          src="./img/gallery/gallery-fourth.jpg"
          alt="fourth image"
          class="gallery-picture"
        />
      </li>
      <li class="gallery-item">
        <img
          src="./img/gallery/gallery-fifth.jpg"
          alt="fifth image"
          class="gallery-picture"
        />
      </li>
    </ul>
  </div>
</section>
