<section class="section section-game-features" id="features">
  <div class="container container-game-features">
    <h2 class="features-title">Game Features</h2>
    <ul class="features-list">
      <li class="features-list-item">
        <picture>
          <source
            srcset="
              /img/features/mr-fire-desk.jpg    1x,
              /img/features/mr-fire-desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="272"
            height="234"
          />
          <source
            srcset="
              /img/features/mr-fire-mob.jpg    1x,
              /img/features/mr-fire-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
            width="136"
            height="136"
          />
          <img
            class="features-img"
            src="/img/features/mr-fire-mob.jpg"
            alt="mr-fire"
            loading="lazy"
          />
        </picture>
        <p class="features-item-text">
          Cook a variety of dishes from around the world in diverse settings.
        </p>
      </li>
      <li class="features-list-item">
        <picture>
          <source
            srcset="
              /img/features/butcher-desk.jpg    1x,
              /img/features/butcher-desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="272"
            height="234"
          />
          <source
            srcset="
              /img/features/butcher-mob.jpg    1x,
              /img/features/butcher-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
            width="136"
            height="136"
          />
          <img
            class="features-img"
            src="/img/features/butcher-mob.jpg"
            alt="butcher"
            loading="lazy"
          />
        </picture>
        <p class="features-item-text">
          Upgrade your kitchen equipment to improve speed and efficiency.
        </p>
      </li>
      <li class="features-list-item">
        <picture>
          <source
            srcset="
              /img/features/slicer-desk.jpg    1x,
              /img/features/slicer-desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="272"
            height="234"
          />
          <source
            srcset="
              /img/features/slicer-mob.jpg    1x,
              /img/features/slicer-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
            width="136"
            height="136"
          />
          <img
            class="features-img"
            src="/img/features/slicer.jpg"
            alt="slicer"
            loading="lazy"
          />
        </picture>
        <p class="features-item-text">
          Serve customers with unique personalities and preferences.
        </p>
      </li>
      <li class="features-list-item">
        <picture>
          <source
            srcset="
              /img/features/monk-desk.jpg    1x,
              /img/features/monk-desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="272"
            height="234"
          />
          <source
            srcset="
              /img/features/monk-mob.jpg    1x,
              /img/features/monk-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
            width="136"
            height="136"
          />
          <img
            class="features-img"
            src="/img/features/monk.jpg"
            alt="monk"
            loading="lazy"
          />
        </picture>
        <p class="features-item-text">
          Master time-management skills in increasingly challenging levels.
        </p>
      </li>
      <li class="features-list-item">
        <picture>
          <source
            srcset="
              /img/features/electrify-desk.jpg    1x,
              /img/features/electrify-desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="272"
            height="234"
          />
          <source
            srcset="
              /img/features/electrify-mob.jpg    1x,
              /img/features/electrify-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
            width="136"
            height="136"
          />
          <img
            class="features-img"
            src="/img/features/electrify.jpg"
            alt="electrify"
            loading="lazy"
          />
        </picture>
        <p class="features-item-text">
          Enjoy colorful graphics and smooth gameplay designed for mobile
          devices.
        </p>
      </li>
    </ul>
  </div>
</section>
