<header class="header">
  <div>
    <svg class="game-logo" width="32" height="32" aria-label="game logo icon">
      <use href=""></use>
    </svg>
    <button class="" type="button">
      <svg class="burger-btn" width="28" aria-label="mobile menu open icon">
        <use href=""></use>
      </svg>
    </button>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list-item">
        <a href="">Home</a>
      </li>
      <li class="nav-list-item">
        <a href="">Benefits</a>
      </li>
      <li class="nav-list-item">
        <a href="">About</a>
      </li>
      <li class="nav-list-item">
        <a href="">Gallery</a>
      </li>
      <li class="nav-list-item">
        <a href="">How to play</a>
      </li>
      <li class="nav-list-item">
        <a href="">Reviews</a>
      </li>
      <li class="nav-list-item"><a href="">FAQ</a></li>
    </ul>
  </nav>
</header>
