<header class="header">
  <div class="container container-header">
    <svg class="logo">
      <use />
    </svg>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="home">Home</a></li>
        <li class="nav-item"><a href="gallery">Gallery</a></li>
        <li class="nav-item"><a href="about">About the game</a></li>
        <li class="nav-item"><a href="hot-to-play">How to play</a></li>
        <li class="nav-item"><a href="game-features">Game Features</a></li>
      </ul>
    </nav>
  </div>
</header>
