<section id="hero-section">
    <div class="container">
        <h1>Sailing Match</h1>
        <p>Set sail on a thrilling match-3 adventure with Sailing Match, where every level brings new challenges and
            treasures.
            Embark on your journey today!</p>
        <a href="https://play.google.com/store/apps/details?id=com.match.free.sailing"><svg width="24" height="27"
                class="social-media-icon">
                <use href="./img/sprite.svg#icon-google-play"></use>
            </svg>
            Google Play
        </a>
    </div>
</section>