<div class="general-background">
  <load ="partials/header.html" />
  <section class="hero-section">
    <div>
      <h1 class="hero-title">Forest Rescue:</h1>
      <p class="hero-title-span">Match 3 Puzzle</p>
    </div>

    <ul class="hero-section-list">
      <li>
        <img src="./img/hero/hero-tel-mob-1x.png" alt="mobile phone" />
      </li>
      <li><img src="./img/hero/hero-tel2-mob-1x.png" alt="mobile-phone" /></li>
    </ul>
    <a
      class="hero-link"
      href="https://play.google.com/store/apps/details?id=air.com.qublix.forestrescue"
      target="_blank"
      ><img src="./img/hero/google-play-mob-1x.png" alt="logo-google-play"
    /></a>
  </section>
</div>
