<section id="hero-section" class="hero">
    <div class="hero-background">
    <div class="container">
        <h1 class="hero-title">Sailing Match</h1>
        <p class="hero-text">Set sail on a thrilling match-3 adventure with Sailing Match, where every level brings new
            challenges and
            treasures. Embark on your journey today!</p>
        <a href="https://play.google.com/store/apps/details?id=com.match.free.sailing" class="google-play-btn">
            <img src="./img/hero/google-play-btn.png" alt="" class="desktop-btn">
            <img src="./img/hero/google-play-btn-mob.png" alt="" class="mobile-btn">
        </a>
    </div>
    </div>
</section>