<section class="home" id="home">
  <div class="home-container">
    <h1 class="main-game-header">Bubble Bird Rescue 2 Shoot!</h1>
    <a
      class="google-play-link"
      href="https://play.google.com/store/apps/details?id=com.ezjoynetwork.bubblebirdRescue2"
      target="_blank"
    >
      <img
        src="./img/gallery/header-desktop/Play Market logo.jpg"
        class="play-market-logo"
      />
      <div class="play-container">
        <p class="google-play-info">GET IT ON</p>
        <p class="google-play-add-info">Google Play</p>
      </div>
    </a>
  </div>
  <div class="home-blur"></div>
  <div class="background-home-cont">
    <img src="./img/gallery/home-background/home-picture.png" alt="" />
  </div>
</section>
