<section id="how-to-play-section" class="how-to-play-section">
    <div class="how-to-play-dark-bg">
        <div class="how-to-play-background">
            <div class="container">
                <div class="how-to-play-container">
                <h2 class="how-to-play-title">How to Play</h2>
                <div class="rules-container">
                    <div class="first-part-rules">
                        <div class="rule">
                            <p class="rule-text">Swap adjacent items to create rows or columns of three or more
                                identical ones
                            </p>
                            <img class="rule-img" src="./img/how-to-play/rule-1.png" alt="rule icon" width="100"
                                height="100">
                        </div>
                        <div class="rule">
                            <p class="rule-text">Match four or more items to create special items with unique effects
                            </p>
                            <img class="rule-img" src="./img/how-to-play/rule-2.png" alt="rule icon" width="100"
                                height="100">
                        </div>
                        <div class="rule">
                            <p class="rule-text">Remove obstacles like anchors, ropes, and more by matching nearby items
                            </p>
                            <img class="rule-img" src="./img/how-to-play/rule-3.png" alt="rule icon" width="100"
                                height="100">
                        </div>
                        <div class="rule">
                            <p class="rule-text">Complete levels by collecting specific items or achieving score targets
                            </p>
                            <img class="rule-img" src="./img/how-to-play/rule-4.png" alt="rule icon" width="100"
                                height="100">
                        </div>
                    </div>
                    <div class="second-part-rules">
                        <div class="rule">
                            <img class="rule-img" src="./img/how-to-play/rule-5.png" alt="rule icon" width="100"
                                height="100">
                            <p class="rule-text">Utilize special boosters to help clear challenging levels</p>
                        </div>
                        <div class="rule">
                            <img class="rule-img" src="./img/how-to-play/rule-6.png" alt="rule icon" width="100"
                                height="100">
                            <p class="rule-text">Progress through the map by completing levels and unlocking new
                                challenges</p>
                        </div>
                        <div class="rule">
                            <img class="rule-img" src="./img/how-to-play/rule-7.png" alt="rule icon" width="100"
                                height="100">
                            <p class="rule-text">Join special events and challenges for additional rewards</p>
                        </div>
                        <div class="rule">
                            <img class="rule-img" src="./img/how-to-play/rule-8.png" alt="rule icon" width="100"
                                height="100">
                            <p class="rule-text">Compare scores and compete with friends by connecting the game to
                                social media
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>