<div class="modal-overlay">
  <div class="mobile-menu">
    <button class="close-menu-button" type="button">
      <svg class="close-menu-icon">
        <use href="/src/img/sprite.svg#icon-Vector-15"></use>
      </svg>
    </button>

    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a href="#home" class="mobile-menu-link">Home</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#benefits" class="mobile-menu-link">Benefits</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#about" class="mobile-menu-link">About</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#gallery" class="mobile-menu-link">Gallery</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#how-to-play" class="mobile-menu-link">How to play</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#reviews" class="mobile-menu-link">Reviews</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#faq" class="mobile-menu-link">FAQ</a>
      </li>
    </ul>
  </div>
</div>
