<section class="players">
 <div class="container">
  <h2 class="players-title">PLAYER REVIEWS</h2>
  <ul class="players-list">
   <li class="players-item">"Addictive gameplay and adorable characters!" - <span
     class="players-item--span">BubbleShooterFan</span></li>
   <li class="players-item">"The events and daily challenges are super fun!" - <span
     class="players-item--span">BearLover</span></li>
   <li class="players-item">"Great game to pass time and challenge friends." - <span
     class="players-item--span">PopMaster</span></li>
   <li class="players-item">"Can’t stop playing! Every level is exciting." - <span
     class="players-item--span">HoneyHunter</span></li>
  </ul>


 </div>

</section>