<section class="policy">
  <div class="container">
    <h2>Privacy Policy</h2>
    <p>
      This privacy policy will explain how our organization uses the personal
      data we collect from you when you use our website. Olympusmatch3.com is a
      free online gaming platform where the gamer can play and win without any
      risks. It is a simple portal to access social games for free and play with
      your friends. Remember that winning at these games does not mean you will
      have any future winnings. It is crucial that you remember this since your
      luck will differ depending on many factors. Have fun and Play as much as
      you like.
    </p>

    <h3>Marketing</h3>
    <p>
      You have the right at any time to stop Olympusmatch3.com contacting you
      for marketing purposes. Olympusmatch3.com would like to send you
      information about products and services of ours that we think you might
      like, as well as those of our partner companies. If you have agreed to
      receive marketing, you may always opt out at a later date. If you no
      longer wish to be contacted for marketing purposes, please contact us.
    </p>

    <h3>What are your data protection rights?</h3>
    <p>
      Olympusmatch3.com would like to make sure you are fully aware of all of
      your data protection rights. Every user is entitled to the following:
    </p>

    <p>
      <b>The right to access</b> - You have the right to request
      Olympusmatch3.com for copies of your personal data.
    </p>
    <p>
      <b>The right to rectification</b> - You have the right to request that
      Olympusmatch3.com correct any information you believe is inaccurate. You
      also have the right to request us to complete the information you believe
      is incomplete.
    </p>
    <p>
      <b>The right to erasure</b> - You have the right to request that
      Olympusmatch3.com erase your personal data, under certain conditions.
    </p>
    <p>
      <b>The right to object to processing</b> - You have the right to object to
      Olympusmatch3.com processing of your personal data, under certain
      conditions.
    </p>
    <p>
      <b>The right to data portability</b> - You have the right to request that
      Olympusmatch3.com transfer the data that we have collected to another
      organization, or directly to you, under certain conditions.
    </p>
    <p>
      <b>Changes to our privacy policy</b> - Olympusmatch3.com keeps its privacy
      policy under regular review and places any updates on this web page.
    </p>
  </div>
</section>
