<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="title reviewsTitle">Reviews</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="cardsRev">
            <b class="cardsTitleRev">GemGenius42</b>
            <p class="cardsTextRev">
              Absolutely addictive! The graphics are stunning and the levels are
              perfectly challenging.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="cardsRev">
            <b class="cardsTitleRev">SparkleSam</b>
            <p class="cardsTextRev">
              It’s more than just matching; it's strategic and fun!
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="cardsRev">
            <b class="cardsTitleRev">CrystalConnie</b>
            <p class="cardsTextRev">
              I love the variety of puzzles and the rewarding bonus levels.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="cardsRev">
            <b class="cardsTitleRev">JewelJunkie</b>
            <p class="cardsTextRev">
              Great to unwind after a long day. Beautiful and relaxing!
            </p>
          </div>
        </div>
      </div>
      <div class="prevnext">
        <div class="swiper-prev">
          <img src="./img/reviews/arrow-left.png" alt="Button previous" />
        </div>
        <div class="swiper-next">
          <img src="./img/reviews/arrow-right.png" alt="Button next" />
        </div>
      </div>
    </div>
  </div>
</section>
