<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../scss/swiper.scss" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
  </head>
  <body>
    <div class="swiper">
      <h2 class="swiper-title">Gallery</h2>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="back">
            <img
              src="../img/swiperImg/img.png"
              class="swiper-img"
              alt="card-1"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="back">
            <img
              src="../img/swiperImg/img(1).png"
              class="swiper-img"
              alt="card-2"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="back">
            <img
              src="../img/swiperImg/img(2).png"
              class="swiper-img"
              alt="card-3"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="back">
            <img
              src="../img/swiperImg/img(3).png"
              class="swiper-img"
              alt="card-4"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="back">
            <img
              src="../img/swiperImg/img(4).png"
              class="swiper-img"
              alt="card-5"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="back">
            <img
              src="../img/swiperImg/img(5).png"
              class="swiper-img"
              alt="card-6"
            />
          </div>
        </div>
      </div>

      <div class="swiper-buttons">
        <img
          class="swiper-button-prev"
          src="../img/swiperImg/left.png"
          alt="arrow-left"
        />
        <img
          class="swiper-button-next"
          src="../img/swiperImg/right(1).png"
          alt="arrow-right"
        />
      </div>

      <div class="swiper-pagination"></div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../js/swiper.js"></script>
  </body>
</html>
