.section-download-game {
  padding: 56px 0;
}
.container-download-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 38px;
}
.download-img {
  border: 1px solid #ffefc6;
  border-radius: 8px;
  box-shadow: inset 4px 6px 6px 0 rgba(255, 255, 255, 0.6),
    2px 4px 6px 0 rgba(39, 29, 3, 0.33);
}

.download-wrap {
  width: 288px;
}
.download-text {
  font-size: 22px;
  padding-bottom: 32px;
}
.text-bold {
  font-weight: bold;
}
.download-google {
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.download-google:hover {
  scale: 1.2;
}

@media only screen and (min-width: 1200px) {
  .container-download-game {
    flex-direction: row-reverse;
    gap: 36px;
  }
  .download-wrap {
    width: 424px;
  }
  .download-text {
    font-size: 28px;
    padding-bottom: 39px;
  }
}
