.about-section {
  padding-bottom: 88px;
  position: relative;
}

.about-background {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -9999;
  background-repeat: no-repeat;

  background-image: url(../img/about/about-bg-mob.png);
  height: 585px;
  top: 237px;
  background-size: 100% 585px;

  @include media(desktop) {
    background-image: url(../img/about/about-bg.png);
    height: 555px;
    top: 25px;
    background-size: 100% 555px;
  }
}

.about-container {
  margin-top: 66px;
  @include media(desktop) {
    margin-top: 160px;
  }
}

.about-title {
  font-family: EB Garamond, sans-serif;
  @include font(32, 41.6);
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;

  @include media(desktop) {
    @include font(40, 52);
  }
}

.about-text {
  font-family: Poppins, sans-serif;
  @include font(14, 19.6);
  font-weight: 400;

  @include media(desktop) {
    @include font(20, 28);
  }
}
