.about-section {
  padding-bottom: 88px;
  position: relative;
  // background-image: url(../img/about/about-bg.png);
  // background-size: 100% 100%;
}

.about-background {
  position: absolute;
  width: 100%;
  height: 555px;
  top: 25px;
  left: 0;
  z-index: -9999;
  background-image: url(../img/about/about-bg.png);
  background-size: 100% 555px;
  background-repeat: no-repeat;
}

.about-container {
  margin-top: 160px;
}

.about-title {
  font-family: EB Garamond, sans-serif;
  @include font(32, 41.6);
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;

  @include media(desktop) {
    @include font(40, 52);
  }
}

.about-text {
  font-family: Poppins, sans-serif;
  @include font(14, 19.6);
  font-weight: 400;

  @include media(desktop) {
    @include font(20, 28);
  }
}
