.benefits {
  padding-top: 123px;
  padding-bottom: 84px;
  position: relative;
}

.benefits-background {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -999999;
  background-repeat: no-repeat;

  background-image: url(../img/benefits/benefits-bg-mob.png);
  height: 417px;
  top: 1812px;
  background-size: 100% 417px;

  @include media(desktop) {
    background-image: url(../img/benefits/benefits-bg.png);
    height: 573px;
    top: 1266px;
    background-size: 100% 573px;
  }
}

.benefits-container {
  margin-top: 99px;
  @include media(desktop) {
    margin-top: 123px;
  }
}

.benefits-title {
  font-family: EB Garamond, sans-serif;
  font-weight: 600;
  @include font(32, 41.6);
  text-align: center;
  margin-bottom: 40px;

  @include media(desktop) {
    @include font(40, 52);
  }
}

.benefits-list {
  display: flex;
  gap: 12px;
  justify-content: center;

  @include media(desktop) {
    gap: 80px;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefit-text {
  margin-top: 30px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  @include font(14, 18.2);
  text-align: center;

  @include media(desktop) {
    @include font(22, 28.6);
  }
}

.benefit-icon {
  width: 57px;
  height: 57px;

  @include media(desktop) {
    width: 63px;
    height: 63px;
  }
}
