.disclaimer {
  // padding-top: 67px;
  // padding-bottom: 200px;
  position: relative;

  @include media(desktop) {
    padding-top: 218px;
  }
}

.disclaimer-background {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -999;
  background-repeat: no-repeat;

  background-image: url(../img/disclaimer/disclaimer-bg-mob.png);
  top: -66px;
  height: 364px;
  background-size: 100% 364px;

  @include media(desktop) {
    background-image: url(../img/disclaimer/disclaimer-bg.png);
    top: -66px;
    height: 409px;
    background-size: 100% 409px;
  }
}

.disclaimer-container {
  margin-top: 99px;
  @include media(desktop) {
    margin-top: 119px;
  }
}

.disclaimer-title {
  font-family: EB Garamond, sans-serif;
  font-weight: 600;
  @include font(32, 41.6);
  margin-bottom: 40px;
  text-align: center;

  @include media(desktop) {
    @include font(40, 52);
  }
}

.disclaimer-text {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  @include font(14, 18.2);
  text-align: center;

  @include media(desktop) {
    @include font(20, 26);
  }
}
