.faq-section {
  margin-bottom: 80px;
  position: relative;

  @include media(desktop) {
    margin-bottom: 200px;
    padding-top: 180px;
  }
}

.faq-background {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -9999;
  background-repeat: no-repeat;

  background-image: url(../img/faq/faq-bg-mob.jpg);
  height: 607px;
  top: 2222px;
  background-size: 100% 607px;

  @include media(desktop) {
    background-image: url(../img/faq/faq-bg.png);
    height: 964px;
    top: 1988px;
    background-size: 100% 964px;
  }
}

.faq-container {
  margin-top: 109px;
  @include media(desktop) {
    margin-top: 216px;
  }
}

.faq-section-header {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.faq-button {
  background: transparent;
  border: none;
  width: 29px;
  transition: 0.3s;

  @include media(desktop) {
    width: 35px;
  }
}

.faq-button:hover {
  filter: brightness(0.85);
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.faq-list-item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include media(desktop) {
    font-size: 22px;
    line-height: 1.3;
  }
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  // opacity: 0;
  transition: 0.3s ease;
  margin-top: 0;
}

.faq-answer.show {
  max-height: 1000px;
  opacity: 1;
  margin-top: 10px;
}

.toggle-button {
  transition: transform 0.3s ease;
}

.toggle-button.rotated {
  transform: rotate(180deg);
}
