.footer {
  border-top: 2px solid #fff;
  background: #0e0e0e;
}

.footer-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.footer-link-container {
  display: flex;
  gap: 10px;
  padding: 15px 10px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 0.5px solid #fff;
}

.footer-link-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.footer-link {
  color: #fff;
  font-family: 'M PLUS 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-text {
  color: #fff;
  text-align: center;
  font-family: 'M PLUS 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 1440px) {
  .footer-content {
    padding: 20px 84px;
    gap: 32px;
    width: 1440px;
    margin: 0 auto;
  }

  .footer-links {
    width: 100%;
    align-items: flex-end;
  }

  .footer-link {
    font-size: 24px;
  }

  .footer-link-icon {
    width: 40px;
    height: 40px;
  }

  .footer-text {
    font-size: 24px;
    text-align: center;
  }
}
