.footer-section {
  position: relative;
}

.footer-container {
  position: absolute;
  width: 100%;
  @include media(desktop) {
    top: 2482px;
  }
}

.footer-main {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-bottom: 23px;
  background: transparent;

  @include media(desktop) {
    flex-direction: row-reverse;
    align-items: baseline;
    gap: 88px;
  }
}
