.gallery {
  margin-bottom: 64px;
}

.gallery-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.gallery-content-container {
  display: none;
}

.scroll-container {
  display: none;
}

.gallery-header {
  color: #fff;
  text-align: center;
  font-family: Matemasie;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.gallery-blur {
  position: absolute;
  width: 229px;
  height: 76px;
  background-color: rgba(177, 220, 240, 0.2);
  filter: blur(60px);
}

.gallery-info {
  width: 274px;
  color: #fff;
  text-align: center;
  font-family: 'M PLUS 2';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 1440px) {
  .gallery {
    margin-bottom: 120px;
  }

  .gallery-header {
    text-align: center;
    font-size: 60px;
  }

  .gallery-container {
    gap: 40px;
  }

  .gallery-content-container {
    display: flex;
    gap: 46px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .gallery-item {
    width: 302px;
    height: 538px;
  }

  .gallery-image {
    width: 100%;
    border-radius: 20px;
  }

  .gallery-images-list {
    display: flex;
  }

  .scroll-container {
    display: flex;
    gap: 39px;
    align-items: center;
  }

  .scroll {
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 2px solid #00a1ff;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    background-color: #000;
  }

  .arrow-icon {
    width: 29px;
    height: 16px;
    stroke: #fff;
    fill: #fff;
  }

  .gallery-info {
    width: 750px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }
}
