.gallery {
  margin-bottom: 64px;
}

.gallery-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.gallery-header {
  color: #fff;
  text-align: center;
  font-family: Matemasie;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gallery-info {
  max-width: 274px;
  color: #fff;
  text-align: center;
  font-family: 'M PLUS 2';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
