.gallery-section {
  margin-bottom: 80px;
}

.gallery-section-header {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.slider {
  display: flex;
  flex-direction: column;
  max-width: 332px;
  //   width: 100%;
  overflow: hidden;
  margin: auto;
}

.slider-line {
  display: flex;
  position: relative;
  left: 0;
  transition: transform ease 1s;
  margin-bottom: 20px;
}

img {
  width: 100%;
}

.button-block {
  margin: auto;
}

.slider-btn {
  width: 80px;
  background: transparent;
  border: none;
}

.slider-btn:hover {
  filter: brightness(0.96);
  transition: 0.3s;
}
