.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  @include font(30, 40);
  color: $_header_color;
}

.nav-link:hover,
.nav-link:focus {
  color: $_header_accent_color;
}
