.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  @include media(desktop) {
    justify-content: flex-end;
  }
}

.nav-link {
  color: $_white_font_color;
  font-size: 30px;

  transition: $_main_transition;

  &:hover,
  &:focus {
    color: $_accent_color;
  }
}
