.header {
  padding: 20px 0;
}

.burger-btn {
  background-color: aqua;
  width: 30px;
  height: 30px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  @include media(tablet) {
    justify-content: flex-start;
  }

  @include media(desktop) {
    justify-content: flex-end;
  }
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  @include font(30, 40);
  color: $_header_color;
}

.nav-link:hover,
.nav-link:focus {
  color: $_header_accent_color;
}
