.hero {
  position: relative;
  padding-top: 128px;
  padding-bottom: 28px;
  background-image: url('../img/hero/hero-bg-mob.webp');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  @include media(desktop) {
    padding-top: 238px;
    padding-bottom: 123px;
    background-image: url('../img/hero/hero-bg-desk.webp');
    background-size: cover;
  }

  h1 {
    font-family: $_font-charm;
    color: $_title_color;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.41;
    letter-spacing: 0.08em;
    width: 234px;
    margin-bottom: 12px;

    @include media(desktop) {
      font-size: 96px;
      line-height: 1.21;
      letter-spacing: 0.1em;
      width: 722px;
      margin-bottom: 24px;
    }
  }

  p {
    font-family: $_font-open-sans;
    color: $_title_color;
    font-weight: 400;
    font-size: 16px;
    width: 195px;
    margin-bottom: 32px;

    @include media(desktop) {
      font-size: 32px;
      width: 620px;
      margin-bottom: 80px;
    }
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $_google_btn;
    border-radius: 8px;
    padding: 8px 16px;
    width: 141px;
    height: 46px;

    @include media(desktop) {
      width: 225px;
      height: 64px;
      padding: 12px 40px;
    }

    b {
      display: inline-block;
      font-family: $_font-inter;
      color: $_third_text_color;
      font-weight: 400;
      font-size: 8px;
      margin-bottom: 4px;
      text-transform: uppercase;

      @include media(desktop) {
        font-size: 12px;
      }
    }
  }

  a:hover,
  a:focus,
  a:active {
    background-color: $_google_active;
    transition: $_animation_duration $_animation_function;
  }
}

.goo {
  @include media(desktop) {
    width: 36px;
    height: 40px;
  }
}

.play {
  @include media(desktop) {
    width: 99px;
    height: 20px;
  }
}

.get-it {
  display: flex;
  flex-direction: column;
}

.hero-thumb {
  position: relative;
}

.queen-mob {
  position: absolute;
  right: 11px;
  bottom: -28px;

  @include media(desktop) {
    display: none;
  }
}

.queen-desk {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: -123px;
    right: 128px;
  }
}
