.home {
  margin-bottom: 64px;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.main-game-header {
  width: 267px;
  color: #fff;
  text-align: center;
  font-family: Matemasie;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.google-play-btn {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

@media (min-width: 1440px) {
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 264px;
    padding: 0 110px;
    margin-bottom: 80px;
  }

  .home-container {
    gap: 48px;
    width: 668px;
    align-items: flex-start;
  }

  .main-game-header {
    font-size: 80px;
    align-self: stretch;
    width: 100%;
    text-align: left;
  }

  .background-home-cont {
    width: 289px;
    height: 593px;
    // background-image: url('../img/gallery/home-background/home-picture.jpg');
    box-shadow: 0px 4px 36px 4px rgba(177, 220, 240, 0.2);
    background-repeat: no-repeat;
    border-radius: 20px;
  }

  .image {
    width: 286px;
    border-radius: 20px;
  }
}
