.home {
  margin-top: 140px;
  margin-bottom: 64px;
  border-radius: 20px;
  position: relative;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.main-game-header {
  width: 267px;
  color: #fff;
  text-align: center;
  font-family: Matemasie;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.google-play-link {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  border: 1.5px solid #000;
  background: #fff;
}

.play-container {
  display: flex;
  flex-direction: column;
}

.play-market-logo {
  width: 43px;
  height: 48px;
}

.google-play-info {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.google-play-add-info {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-blur {
  position: absolute;
  width: 138px;
  height: 119px;
  background-color: rgba(177, 220, 240, 0.2);
  filter: blur(60px);
  border-radius: 50%;
  flex-shrink: 0;
  top: 142px;
  right: -39px;
}

.background-home-cont {
  display: none;
}

@media (min-width: 1440px) {
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 264px;
    padding: 0 110px;
    margin-bottom: 90px;
  }

  .home-container {
    gap: 48px;
    width: 668px;
    align-items: flex-start;
  }

  .home-blur {
    width: 473px;
    height: 409px;
    border-radius: 473px;
    background: rgba(177, 220, 240, 0.2);
    filter: blur(60px);
    right: -109px;
    top: 264px;
  }

  .google-play-link {
    gap: 16px;
  }

  .play-market-logo {
    width: 53px;
    height: 58px;
  }

  .google-play-info {
    font-size: 20px;
  }

  .google-play-add-info {
    font-size: 32px;
  }

  .main-game-header {
    font-size: 80px;
    align-self: stretch;
    width: 100%;
    text-align: left;
  }

  .background-home-cont {
    display: flex;
    justify-content: center;
    width: 289px;
    height: 593px;
    background-repeat: no-repeat;
    border-radius: 20px;
  }

  .image {
    width: 276px;
    height: 583px;
    border-radius: 20px;
  }
}
