.how-to-play-section {
  padding-top: 34px;
  padding-bottom: 77px;
  position: relative;
}

.how-to-play-dark-bg {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -99999;
  background-repeat: no-repeat;

  background-image: url(../img/how-to-play/how-to-play-dark-bg-mob.jpg);
  height: 195px;
  top: 650px;
  background-size: 100% 195px;

  @include media(desktop) {
    background-image: url(../img/how-to-play/how-to-play-dark-bg.jpg);
    height: 313px;
    top: 431px;
    background-size: 100% 313px;
  }
}

.how-to-play-background {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -9999;
  background-repeat: no-repeat;

  background-image: url(../img/how-to-play/how-to-play-bg-mob.png);
  height: 1294px;
  top: 79px;
  background-size: 100% 1294px;

  @include media(desktop) {
    background-image: url(../img/how-to-play/how-to-play-bg.png);
    height: 952px;
    top: 95px;
    background-size: 100% 952px;
  }
}

.how-to-play-container {
  margin-top: 21px;
  
  @include media(desktop) {
  margin-top: 106px;
  }
}

.how-to-play-title {
  font-family: EB Garamond, sans-serif;
  font-weight: 600;
  @include font(32, 41.6);
  text-align: center;
  margin-bottom: 40px;

  @include media(desktop) {
    @include font(40, 52);
  }
}

.rules-container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 182px;
  }
}

.first-part-rules,
.second-part-rules {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.second-part-rules {
  @include media(desktop) {
    margin-top: 50px;
  }
}

.rule {
  display: flex;
  align-items: center;
  gap: 19px;

  @include media(desktop) {
    gap: 38px;
  }
}

.rule-text {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  @include font(14, 18.2);
  width: 156px;

  @include media(desktop) {
    @include font(16, 20.8);
    width: 200px;
  }
}

.first-part-rules > :nth-child(2),
.first-part-rules > :nth-child(3) {
  margin-left: 72px;
}

.second-part-rules > :first-child,
.second-part-rules > :last-child {
  margin-left: 72px;
}

.rule {
}

.rule-text {
}

.rule-img {
  width: 100px;
  height: 100px;
}
