.how-to-play-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 67px;
}

.section-title {
  color: #fff;
  text-align: center;
  font-family: Matemasie;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.steps-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.step-item {
  padding: 5px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.first-elem {
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(245, 176, 52, 0.5);
}

.one {
  border-radius: 40px;
  background: var(
    --Yellow,
    radial-gradient(50% 50% at 50% 50%, #fff 0%, #f5b034 100%)
  );
}

.second-elem {
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(223, 0, 26, 0.5);
}

.two {
  border-radius: 40px;
  background: var(
    --Red,
    radial-gradient(50% 50% at 50% 50%, #fff 0%, #df001a 100%)
  );
}

.third-elem {
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(228, 81, 30, 0.5);
}

.three {
  border-radius: 40px;
  background: var(
    --Orange,
    radial-gradient(50% 50% at 50% 50%, #fff 0%, #e4511e 100%)
  );
}

.fourth-elem {
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(55, 166, 217, 0.5);
}

.four {
  border-radius: 40px;
  background: var(
    --Blue,
    radial-gradient(50% 50% at 50% 50%, #fff 0%, #37a6d9 100%)
  );
}

.fifth-elem {
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(54, 166, 98, 0.5);
}

.five {
  border-radius: 40px;
  background: var(
    --Green,
    radial-gradient(50% 50% at 50% 50%, #fff 0%, #36a662 100%)
  );
}

.sixth-elem {
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(128, 53, 134, 0.5);
}

.six {
  border-radius: 40px;
  background: var(
    --Purpple,
    radial-gradient(50% 50% at 50% 50%, #fff 0%, #803586 100%)
  );
}

.step-text {
  width: 226px;
  color: #fff;
  text-align: center;
  font-family: 'M PLUS 2';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// Reviews Section
.reviews-container {
  margin: 20px;
}

.accordion-item {
  margin-bottom: 15px;
}

.accordion-header {
  font-weight: bold;
  cursor: pointer;
}

.accordion-content {
  display: none;
  font-size: 1rem;
  margin-top: 5px;
}

.reviews-nav {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

// Questions Section
.questions-section {
  margin: 20px;
}

.question-item {
  margin-bottom: 15px;
}

.question-title {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.answer-content {
  display: none;
  margin-top: 5px;
  font-size: 1rem;
  padding-left: 10px;
  border-left: 3px solid #ccc;
}

.toggle {
  font-size: 1.5rem;
  line-height: 1;
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
}

// Disclaimer Section
.disclaimer-container {
  margin: 20px;
}

.bubbles {
  display: flex;
  justify-content: space-around;
}

.bubble {
  width: 20px;
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin: 5px;
}

.disclaimer-content p {
  font-size: 1rem;
  color: #333;
}

@media (min-width: 1440px) {
  .how-to-play-section {
    gap: 34px;
    margin-bottom: 120px;
  }

  .section-title {
    font-size: 60px;
  }

  .steps-list {
    gap: 40px;
  }

  .step-item {
    border: 2px solid #fff;
    padding: 10px;
    gap: 32px;
  }

  .step-number {
    width: 80px;
    height: 80px;
    font-size: 32px;
  }

  .step-text {
    width: 632px;
    font-size: 24px;
  }
}
