.how-to-play-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 67px;
}

.section-title {
  color: #fff;
  text-align: center;
  font-family: Matemasie;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.steps-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  overflow-x: auto;
}

.step-item {
  padding: 5px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.first-elem {
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(245, 176, 52, 0.5);
}

.one {
  border-radius: 40px;
  background: var(
    --Yellow,
    radial-gradient(50% 50% at 50% 50%, #fff 0%, #f5b034 100%)
  );
}

.second-elem {
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(223, 0, 26, 0.5);
}

.two {
  border-radius: 40px;
  background: var(
    --Red,
    radial-gradient(50% 50% at 50% 50%, #fff 0%, #df001a 100%)
  );
}

.third-elem {
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(228, 81, 30, 0.5);
}

.three {
  border-radius: 40px;
  background: var(
    --Orange,
    radial-gradient(50% 50% at 50% 50%, #fff 0%, #e4511e 100%)
  );
}

.fourth-elem {
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(55, 166, 217, 0.5);
}

.four {
  border-radius: 40px;
  background: var(
    --Blue,
    radial-gradient(50% 50% at 50% 50%, #fff 0%, #37a6d9 100%)
  );
}

.fifth-elem {
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(54, 166, 98, 0.5);
}

.five {
  border-radius: 40px;
  background: var(
    --Green,
    radial-gradient(50% 50% at 50% 50%, #fff 0%, #36a662 100%)
  );
}

.sixth-elem {
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(128, 53, 134, 0.5);
}

.six {
  border-radius: 40px;
  background: var(
    --Purpple,
    radial-gradient(50% 50% at 50% 50%, #fff 0%, #803586 100%)
  );
}

.step-text {
  width: 226px;
  color: #fff;
  text-align: center;
  font-family: 'M PLUS 2';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// Reviews Section

.reviews-section {
  margin-bottom: 40px;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.accordion-list {
  display: flex;
  gap: 24px;
  overflow-x: auto;
}

.reviews-header {
  color: #fff;
  text-align: center;
  font-family: Matemasie;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.scroll-container {
  display: none;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #fff;
  width: 244px;
}

.accordion-line {
  width: 183px;
  height: 0.5px;
  background: #fff;
}

.accordion-header {
  width: 207px;
  color: #fff;
  font-family: 'M PLUS 2';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.accordion-content {
  width: 224px;
  color: #fff;
  font-family: 'M PLUS 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.scroll-container-reviews {
  display: flex;
  gap: 64px;
}

.scroll-reviews {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 2px solid #00a1ff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
  background-color: transparent;
}

// Questions Section
.questions-section {
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.questions-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.question-item {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 280px;
  border-top: 0.5px solid #fff;
  border-bottom: 0.5px solid #fff;
}

.question-title {
  display: flex;
  gap: 12px;
  font-weight: bold;
  justify-content: space-between;
  cursor: pointer;
}

.question {
  width: 244px;
  flex-shrink: 0;
  color: #fff;
  font-family: 'M PLUS 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.answer-content {
  display: none;
  width: 280px;
  color: #fff;
  font-family: 'M PLUS 2';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.toggle {
  font-size: 1.5rem;
  line-height: 1;
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
}

// Disclaimer Section

.disclaimer-section {
  margin-bottom: 66px;
  display: flex;
  justify-content: center;
}

.disclaimer-container {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #fff;
}

.disclaimer-header {
  color: #fff;
  text-align: center;
  font-family: Matemasie;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.disclaimer-text {
  width: 278px;
  height: 118px;
  color: #fff;
  text-align: center;
  font-family: 'M PLUS 2';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bubbles {
  display: flex;
  justify-content: space-around;
}

.bubble {
  width: 20px;
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin: 5px;
}

@media (min-width: 1440px) {
  .how-to-play-section {
    gap: 34px;
    margin-bottom: 120px;
  }

  .steps-list .step-item:nth-child(1),
  .step-item:nth-child(5) {
    margin-left: 0;
  }

  .steps-list .step-item:nth-child(2),
  .step-item:nth-child(4),
  .step-item:nth-child(6),
  .step-item:nth-child(8) {
    margin-left: 180px;
  }

  .steps-list .step-item:nth-child(3),
  .step-item:nth-child(7) {
    margin-left: 360px;
  }

  .reviews-section {
    margin-bottom: 60px;
  }

  .reviews-container {
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .accordion-list {
    overflow-x: hidden;
    width: 1272px;
    transition: scroll 0.3s ease;
  }

  .accordion-item {
    width: 300px;
  }

  .reviews-header {
    font-size: 60px;
  }

  .section-title {
    font-size: 60px;
  }

  .accordion-header {
    width: 280px;
    font-size: 32px;
  }

  .accordion-content {
    width: 280px;
    font-size: 24px;
  }

  .scroll-container {
    display: flex;
    gap: 64px;
    justify-content: center;
  }

  .scroll {
    width: 64px;
    height: 64px;
  }

  .arrow-icon {
    width: 29px;
    height: 16px;
  }

  .steps-list {
    gap: 40px;
  }

  .step-item {
    border: 2px solid #fff;
    padding: 10px;
    gap: 32px;
  }

  .step-number {
    width: 80px;
    height: 80px;
    font-size: 32px;
  }

  .step-text {
    width: 632px;
    font-size: 24px;
  }

  .disclaimer-container {
    padding: 20px;
    width: 1272px;
  }

  .disclaimer-header {
    font-size: 60px;
  }

  .disclaimer-text {
    width: 933px;
    font-size: 24px;
    height: auto;
  }

  .scroll {
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 2px solid #00a1ff;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    background-color: #000;
  }

  .arrow-icon {
    width: 29px;
    height: 16px;
    stroke: #fff;
    fill: #fff;
  }
}
