.header {
  height: 100px;
  background-color: black;
}

.bubbles {
  background-image: url('path-to-bubbles-image.png'); /* Поставте правильний шлях до зображення бульбашок */
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.terms {
  margin: 20px 0;
}

.section-block {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

// h1,
// h2 {
//   font-size: 1.8rem;
//   margin-bottom: 10px;
// }

// p {
//   font-size: 1rem;
//   line-height: 1.5;
// }

.cta-button {
  margin: 20px 0;
}

.cta-button .button {
  background-color: #00aaff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.cta-button .button:hover {
  background-color: #0088cc;
}
