.privacy-page {
  background-image: url(../img/privacy-page/privacy-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 33px;

  @include media(desktop) {
    background-position: left top;
  }
}

.logo-cont {
  display: none;
  @include media(desktop) {
    display: block;
  }
}

.logo-img {
  @include media(desktop) {
    img {
      width: 121px;
      margin: auto;
    }
  }
}

.section-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 40px;
}

.text {
  font-size: inherit;
  @include media(desktop) {
    font-size: 20px;
    font-weight: 500;
  }
}

.first-section {
  background-image: url(../img/privacy-page/first-section-bg-mob.png);
  background-size: 100% 404px;
  padding-top: 58px;
  padding-bottom: 48px;
  background-repeat: no-repeat;

  @include media(desktop) {
    background-image: url(../img/privacy-page/first-section-bg.png);
    background-size: 100% 475px;
    height: 475px;
    padding-top: 98px;
    padding-bottom: 103px;
  }
}

.second-section {
  background-image: url(../img/privacy-page/second-section-bg-mob.png);
  background-size: 100% 349px;
  padding-top: 32px;
  padding-bottom: 37 px;
  background-repeat: no-repeat;
  height: 349px;

  @include media(desktop) {
    background-image: url(../img/privacy-page/second-section-bg.png);
    background-size: 100% 350px;
    height: 402px;
    padding-top: 77px;
    padding-bottom: 103px;
  }
}

.third-section {
  background-image: url(../img/privacy-page/third-section-bg-mob.png);
  background-size: 100% 870px;
  padding-top: 46px;
  padding-bottom: 46px;
  background-repeat: no-repeat;
  height: 870px;

  @include media(desktop) {
    background-image: url(../img/privacy-page/third-section-bg.png);
    background-size: 100% 803px;
    height: 803px;
    padding-top: 77px;
    padding-bottom: 112px;
  }
}

.third-section-intro {
  margin-bottom: 32px;
}

.rights-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Poppins;
  font-weight: 500;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.3;
  }
}

.list-item {
  display: flex;
  align-items: center;
  gap: 6.5px;
}

.list-item-icon {
  fill: #ffd253;
}

.fourth-section {
  background-image: url(../img/privacy-page/fourth-section-bg-mob.png);
  background-size: 100% 223px;
  padding-top: 21px;
  padding-bottom: 24px;
  background-repeat: no-repeat;
  height: 223 px;

  @include media(desktop) {
    background-image: url(../img/privacy-page/fourth-section-bg.png);
    background-size: 100% 279px;
    height: 279px;
    padding-top: 77px;
    padding-bottom: 112px;
  }
}
