.faq-container {
  width: 90%;
  max-width: 400px;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.questions-header {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
  background-color: #ff8a00;
  padding: 10px;
  border-radius: 10px;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: left;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question .plus {
  font-size: 20px;
}

.faq-answer {
  display: none;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 14px;
}

.faq-answer p {
  margin: 0;
}
