:root {
  font-family: $_main_font_family;
  font-size: $_main_font_size;
  font-weight: $_main_font_weight;

  color: $_white_font_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@import './header.scss';
@import './buggle.scss';
@import './player.scss';
