@import './header.scss';
@import './hero.scss';
@import './benefits.scss';
@import './about_game.scss';
@import './gallery.scss';
@import './faq.scss';
@import './reviews.scss';
@import './uniqueness.scss';
@import './footer.scss';

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: $_white;
  background-color: $_dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
