@import 'normalize-scss/sass/normalize/import-now';

@import './header.scss';
@import './hero.scss';
@import './disclaimer.scss';
@import './about.scss';
@import './how-to-play.scss';
@import './benefits.scss';
@import './footer.scss';
@import './faq.scss';
@import './terms-page.scss';
@import './gallery.scss';
@import './privacy-page.scss';

:root {
  font-family: EB Garamond, Poppins, sans-serif;
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 400;

  color: $_main_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #919191;
  background-image: url(../img/hero/hero-dark-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

// body {
//   background-image: url(../img/home-bg-mob.png);
//   background-size: 1440px 4629px;

//   @include media(desktop) {
//     background-image: url(../img/home-bg.png);
//     background-position: top;
//   }
// }

.container {
  max-width: $mobile;
  margin: 0 auto;
  padding: 0 21px;

  @include media(desktop) {
    max-width: $desktop;
    padding: 0 215px;
  }
}
