@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@500&display=swap');
@import './header.scss';
@import './hero.scss';

:root {
  font-family: $_main_font_family;
  font-size: $_main_font_size;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;

  color: $_main_text_color;
  // background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
