.body-section {
  background-image: url(../img/terms-page/main-bg-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -99;
  padding-top: 33px;

  @include media(desktop) {
    background-image: url(../img/terms-page/main-bg.png);
    background-size: 100% 100%;
  }
}

.logo-cont {
  padding: 0;

  @include media(desktop) {
    padding: 20px 0 40px 0;
  }
}

.logo-terms {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: 100%;
    }
  }
}

.header-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 20px;
  background: transparent;
  border: none;
  color: white;
  text-wrap: nowrap;
  transition: 0.3s;
}

.back-button:hover {
  filter: brightness(0.85);
}

.arrow-back-icon {
  rotate: 90deg;
  width: 22px;

  @include media(desktop) {
    width: 35px;
  }
}

.back-text {
  font-family: 'EB Garamond';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  background: $_yellow_gradient_color;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include media(desktop) {
    font-size: 20px;
  }
}

.intro-section {
  padding-top: 58px;
  padding-bottom: 43px;

  background-image: url(../img/terms-page/intro-bg-mob.png);
  background-size: 100% 925px;

  background-repeat: no-repeat;

  @include media(desktop) {
    padding-top: 98px;
    padding-bottom: 74px;
    margin-bottom: 50px;

    background-image: url(../img/terms-page/intro-bg.png);
    background-size: 100% 772px;
    background-position: center;
  }
}

.licence-section {
  padding-top: 37px;
  padding-bottom: 38px;
  margin-bottom: 15px;

  background-image: url(../img/terms-page/license-bg-mob.png);
  background-size: 100% 373px;

  background-position: center;
  background-repeat: no-repeat;

  @include media(desktop) {
    padding-top: 76px;
    padding-bottom: 75px;
    margin-bottom: 50px;

    background-image: url(../img/terms-page/license-bg.png);
    background-size: 100% 399px;
  }
}

.term-section {
  padding-top: 27px;
  padding-bottom: 36px;
  margin-bottom: 3px;

  background-image: url(../img/terms-page/terms-bg-mob.png);
  background-size: 100% 443px;

  background-position: center;
  background-repeat: no-repeat;

  @include media(desktop) {
    padding-top: 81px;
    padding-bottom: 71px;
    margin-bottom: 50px;

    background-image: url(../img/terms-page/terms-bg.png);
    background-size: 100% 460px;
  }
}

.descr-section {
  padding-top: 41px;
  padding-bottom: 42px;

  background-image: url(../img/terms-page/descr-bg-mob.png);
  background-size: 100% 363px;

  background-position: center;
  background-repeat: no-repeat;

  @include media(desktop) {
    padding-top: 79px;
    padding-bottom: 62px;
    margin-bottom: 50px;

    background-image: url(../img/terms-page/descr-bg.png);
    background-size: 100% 363px;
  }
}

.access-section {
  padding-top: 38px;
  padding-bottom: 33px;
  margin-bottom: 13px;

  background-image: url(../img/terms-page/access-bg-mob.png);
  background-size: 100% 753px;

  background-position: center;
  background-repeat: no-repeat;

  @include media(desktop) {
    padding-top: 88px;
    padding-bottom: 79px;
    margin-bottom: 50px;

    background-image: url(../img/terms-page/access-bg.png);
    background-size: 100% 683px;
  }
}

.updates-section {
  padding-top: 34px;
  padding-bottom: 26px;

  background-image: url(../img/terms-page/upd-bg-mob.png);
  background-size: 100% 346px;

  background-position: center;
  background-repeat: no-repeat;

  margin-bottom: 54px;

  @include media(desktop) {
    padding-top: 71px;
    padding-bottom: 70px;
    margin-bottom: 130px;

    background-image: url(../img/terms-page/upd-bg.png);
    background-size: 100% 363px;
  }
}

.title {
  font-family: EB Garamond, sans-serif;
  font-weight: 600;
  @include font(32, 41.6);
  margin-bottom: 40px;

  @include media(desktop) {
    @include font(40, 52);
  }
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  @include font(14, 18.2);

  @include media(desktop) {
    @include font(20, 26);
  }
}
